NEXT_PUBLIC_SUPABASE_URL=https://icepxfjsjawzdkzlflsx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljZXB4ZmpzamF3emRremxmbHN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3ODIzMzYsImV4cCI6MjA4MDM1ODMzNn0.wOlNAgMK07r3_fNpS7_TY82jmewSrZsM7IfPwak2mEg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljZXB4ZmpzamF3emRremxmbHN4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDc4MjMzNiwiZXhwIjoyMDgwMzU4MzM2fQ.F4UVN3TaYfXyrQMUm2Awv5CSScGj83qdGo9tIk9FptE
